body {
    background-attachment: fixed;
    background-color: #efefef;
    background-image: url(../img/light-gray-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10% 0 10% 0;
}
a {
    color: #4a4a4a;
}
iframe {
    border-width: 0;
    overflow: hidden;
}
.all-responsive {
    height: auto !important;
    max-width: 97%;
}
.block {
    display: block;
}
.border-all,
.border-bottom,
.border-top,
.border-top-bottom {
    border-color: #dddddd;
    border-style: solid;
}
.border-all {
    border-width: 1px;
}
.border-bottom {
    border-width: 0 0 1px 0;
}
.border-top {
    border-width: 1px 0 0 0;
}
.border-top-bottom {
    border-width: 1px 0 1px 0;
}
#email-form {
    margin: 15px 1% 15px 1%;
}
#email-form label {
    display: block;
    margin: 15px 0 15px 0;
    text-align: left;
}
#email-form input[type="text"],
#email-form textarea {
    display: block;
    overflow: hidden;
    width: 99%;
}
.fb-like-box {
    display: block !important;
    margin: 15px auto 15px auto;
    max-width: 99%;
    overflow: hidden;
    width: 700px;
    height: 300px;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
#map-embed {
    width: 700px;
    height: 466px;
}
.margin-default {
    margin: 15px 1% 15px 1%;
}
.margin-none {
    margin: 0 !important;
}
.nowrap,
.phone-tap {
    white-space: nowrap;
}
.sub-heading {
    display: block;
    font-size: 18px;
}
.thumb-size {
    border-color: #ffffff;
    border-radius: 6px;
    border-style: solid;
    border-width: 5px;
    width: auto;
    height: 250px;
}
.vertical-align-middle {
    vertical-align: middle;
}
.width-responsive {
    max-width: 97%;
}
.wrap-normal {
    white-space: normal;
}
a:focus,
a:hover {
    color: #EE2C2C;
}

@media (max-width:767px) {
body {
    background-image: none;
}
.all-responsive,
.width-responsive,
.thumb-size {
    display: block;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
}
/* Begin Customer Footer */
#customer-footer {
    background-color: #ffffff;
    border-radius: 0 0 6px 6px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 15px 30px 15px 30px;
}
#customer-footer * {
    margin: 0;
    padding: 0;
}
#customer-footer img {
    height: auto;
    max-width: 99%;
}
#customer-footer-left,
#customer-footer-right {
    display: inline-block;
    vertical-align: top;
}
#customer-footer-left {
    width: 50%;
}
#customer-footer-right {
    text-align: right;
    width: 49%;
}

@media (max-width:767px) {
#customer-footer > * {
    display: block;
    text-align: center;
    width: 99%;
}
}
/* End Customer Footer */

/* Begin Bootstrap Modification */
.btn-primary {
    background-color: #4a4a4a;
    border-color: #4a4a4a;
    color: #ffffff;
}
.main {
    background-color: #ffffff;
    border-radius: 6px 6px 0 0;
    display: block;
    font-size: 15px;
    line-height: 1.25;
    padding: 15px;
}
.main address,
.main blockquote,
.main h2,
.main h3,
.main iframe,
.main img,
.main p {
    padding: 0;
    margin: 15px 1% 15px 1%;
}
.main h2 {
    font-size: 23px;
}
.main h3 {
    font-size: 18px;
}
.main ol,
.main ul {
    padding: 0 30px 0 30px;
    margin: 15px 1% 15px 1%;
}
.main .col-lg-4 {
    display: inline-block;
    float: none;
    padding: 0;
    vertical-align: top;
    width: 33%;
}
.main .col-lg-8 {
    display: inline-block;
    float: none;
    padding: 0;
    vertical-align: top;
    width: 66%;
}
.main .row {
    margin: 0;
}
.navbar {
    background-color: #4a4a4a;
    background-image: url(../img/dark-gray-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-style: none;
}
.navbar h1 {
    color: #ffffff;
    float: left;
    font-size: 20px;
    margin: 15px 1% 5px 1%;
}
.navbar-collapse {
    border-width: 0;
}
.navbar-inverse .navbar-nav > li > a {
    border-color: #4a4a4a;
    border-style: solid;
    border-radius: 6px 6px 0 0;
    border-width: 1px 1px 0 1px;
    color: #FFFFFF;
    font-weight: bold;
}
.navbar-inverse .navbar-nav > li.active > a {
    background-color: #efefef !important;
    background-image: url(../img/light-gray-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #000000 !important;
}
.btn:focus,
.btn:hover,
.navbar a:focus,
.navbar a:hover {
    background-color: #228B22 !important;
    background-image: none;
}

@media (max-width:767px) {
.main .col-lg-4,
.main .col-lg-8 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}
.navbar-inverse .navbar-nav > li > a {
    border-radius: 0;
    border-width: 1px 0 0 0;
}
.navbar-inverse .navbar-nav {
    margin-bottom: 1px;
    margin-top: 1px;
}
.navbar h1 {
    display: none;
}
}
/* End Bootstraps Modification */
